{% extends 'base.html' %}

{% block content %}
<div class="container">
<header class="row">
    <div class="col-12 col-md-6" id="header-text">
        <h2>Let's build an amazing collection of Marvel Characters!</h2>
        <h5>Create an amazing API tool for marvel enthusiasts!</h5>
        <div>
            <button class="btn btn-primary">View Our Docs</button>
            <button class="btn btn-primary">Join Our Slack</button>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <img src="../../static/images/marvel_wallpaper.jpg" alt="Hero Header Image" class="header-image">
    </div>
</header>
<section class="row">
    <div class="col-12" id="middle-text">
        <h2>Display Your Collection!</h2>
        <p>You can harness the power of an API to expand your collection!</p>
    </div>
</section>
<section class="row" id="features-section">
    <div class="col-12 col-md-4">
        <img src="../../static/images/api.png" alt="API Image" id="api-image">
        <h4>Dedicated API Routes</h4>
        <p>
            If you are a fan of using Traditional API routes, we have those for you too!
        </p>
    </div>

    <div class="col-12 col-md-4">
        <img src="../../static/images/graphql.png" alt="graphql image" id="graphql-image">
        <h4>GRAPHQL API Route</h4>
        <p>
            If you want ALL data from one endpoint, we have that too!
        </p>
    </div>

    <div class="col-12 col-md-4">
        <img src="../../static/images/db.png" alt="database image" id="database-image">
        <p>
            All data will be persisted inside fo a secure Postgres Database
        </p>
    </div>
</section>
<section class="row">
    <div class="col-12 col-md-6">
        <img src="../../static/images/spidey_sense.png" alt="spidey sense image" id="spideysense-image">
    </div>

    <div class="col-12 col-md-6">
        <h4>Talk with like-minded marvel enthusiasts!</h4>
        <p>
            Talk with other enthusiasts around the world and collab on projects with your data. Join our slack channel and give a start to the project on Github!
        </p>
        <div><Button class="btn btn-primary">View on Github</Button>
            <Button class="btn btn-primary">Join our Slack Channel</Button>
        </div>
    </div>
</section>
<footer class="row" id="footer">
    <div class="col-2 col-md-2">
        <img src="../../static/images/marvel_logo.png" alt="marvel logo" id="footer-logo">
    </div>
    <div class="col-2 col-md-2">
        <div class="footer-text-flex">
            <h4>Platform</h4>
            <p>Why Marvel?</p>
            <p>Marvel Characters Collection</p>
            <p>Donate</p>
            <p>Spread The Good Word</p>
            <p>Our Process</p>
        </div>
    </div>
    <div class="col-2 col-md-2">
        <div class="footer-text-flex">
            <h4>Platform</h4>
            <p>Why Marvel?</p>
            <p>Marvel Characters Collection</p>
            <p>Donate</p>
            <p>Spread The Good Word</p>
            <p>Our Process</p>
        </div>
    </div>
    <div class="col-2 col-md-2">
        <div class="footer-text-flex">
            <h4>Platform</h4>
            <p>Why Marvel?</p>
            <p>Marvel Characters Collection</p>
            <p>Donate</p>
            <p>Spread The Good Word</p>
            <p>Our Process</p>
        </div>
    </div>
    <div class="col-2 col-md-2">
        <div class="footer-text-flex">
            <h4>Platform</h4>
            <p>Why Marvel?</p>
            <p>Marvel Characters Collection</p>
            <p>Donate</p>
            <p>Spread The Good Word</p>
            <p>Our Process</p>
        </div>
    </div>
    <div class="col-2 col-md-2">
        <div class="footer-text-flex">
            <h4>Platform</h4>
            <p>Why Marvel?</p>
            <p>Marvel Characters Collection</p>
            <p>Donate</p>
            <p>Spread The Good Word</p>
            <p>Our Process</p>
        </div>
    </div>
</footer>
</div>
{% endblock content %}